[submodule "GatewayService"]
	path = GatewayService
	url = https://github.com/tangxuyao/GatewayService.git
[submodule "CRMService"]
	path = CRMService
	url = https://github.com/tangxuyao/CRMService.git
[submodule "MongoData"]
	path = MongoData
	url = https://github.com/tangxuyao/MongoData.git
[submodule "GameService"]
	path = GameService
	url = https://github.com/tangxuyao/GameService.git
[submodule "AsylumService"]
	path = AsylumService
	url = https://github.com/tangxuyao/AsylumService.git
[submodule "ConsulMonitorService"]
	path = ConsulMonitorService
	url = https://github.com/tangxuyao/ConsulMonitorService.git
[submodule "Frameworks"]
	path = Frameworks
	url = https://github.com/tangxuyao/Frameworks.git
